<configuration>
	<system.windows.forms jitDebugging="false"/>
	<appSettings>
		<!-- Error Settings -->
		<add key="EnableErrorLog" value="0"/>
		<add key="StartUpApp" value="StartApp.exe"/>
	<add key="Mantis.WebReference1.UDETournamentDataInterchange" value="http://webservices.upperdeck.com/mantis/ude_players.asmx"/></appSettings>
</configuration>
